{% extends 'base.html.twig' %}

{% block title %}Hello EpadRestApiController!{% endblock %}

{% block body %}

    <section class="container">
        <h1>EdmontonPropertyAssessmentData index</h1>

        {{ form(queryForm) }}

        <table class="table">
            <thead>
            <tr>
                <th>AccountNumber</th>
                <th>Suite</th>
                <th>HouseNumber</th>
                <th>StreetName</th>
    {#                <th>Garage</th>#}
    {#                <th>NeighbourhoodId</th>#}
    {#                <th>Neighbourhood</th>#}
    {#                <th>Ward</th>#}
                <th>AssessedValue</th>
    {#                <th>Latitude</th>#}
    {#                <th>Longitude</th>#}
    {#                <th>AssessmentClass1</th>#}
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% if edmontonProperties.accountNumber is not null %}
                <tr>
                    <td>{{ edmontonProperties.accountNumber }}</td>
                    <td>{{ edmontonProperties.suite }}</td>
                    <td>{{ edmontonProperties.houseNumber }}</td>
                    <td>{{ edmontonProperties.streetName }}</td>
        {#                <td>{{ edmontonProperties.garage ? 'Yes' : 'No' }}</td>#}
        {#                <td>{{ edmontonProperties.neighbourhoodId }}</td>#}
        {#                <td>{{ edmontonProperties.neighbourhood }}</td>#}
        {#                <td>{{ edmontonProperties.ward }}</td>#}
                    <td>{{ edmontonProperties.assessedValue }}</td>
        {#                <td>{{ edmontonProperties.latitude }}</td>#}
        {#                <td>{{ edmontonProperties.longitude }}</td>#}
        {#                <td>{{ edmontonProperties.assessmentClass1 }}</td>#}
                    <td>
                        <a href="{{ path('app_epad.show', {'id': edmontonProperties.accountNumber}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </section>

{% endblock %}
